DATABASE_URL='postgresql://vaaliplatta:secret@localhost:5432/vaaliplatta?disablessl=true'
ENV='DEV'
LOG_LEVEL='VERBOSE'
JWT_SECRET='eNIcRCR5a6EZGVQ56xVwXX2l4Tfr5UmheZ/xI6NbvG0=' # created by running openssl rand -base64 32
JWT_EXPIRATION='1h'
ADMIN_PASSWORD='kettu'