DATABASE_URL='postgresql://vaaliplatta:secret@localhost:5432/vaaliplatta?disablessl=true'
ENV='DEV'
LOG_LEVEL='VERBOSE'
JWT_SECRET='eNIcRCR5a6EZGVQ56xVwXX2l4Tfr5UmheZ/xI6NbvG0=' # created by running openssl rand -base64 32
JWT_EXPIRATION='1h'
ADMIN_PASSWORD='kettu'
# Blob sas url for the server. This should have Read / Write permissions
# Go to Azure > Resource Accounts > vaaliplatta > Containers > (dev / prod) > Settings > Shared access tokens
BLOB_SAS_URL=


OAUTH_TOKEN_HOST='https://prodeko.org'
OAUTH_TOKEN_PATH='/oauth2/token'
OAUTH_AUTHORIZE_HOST='https://prodeko.org'
OAUTH_AUTHORIZE_PATH='/oauth2/auth'
OAUTH_CLIENT_ID= # set up in prodeko.org/admin
OAUTH_CLIENT_SECRET= # set up in prodeko.org/admin
FRONTEND_URL='http://localhost:5173'
OAUTH_PROFILE_URL='https://prodeko.org/oauth2/user_details'
# set up ngrok tunneling for local development
# ngrok http 8000 
OAUTH_CALLBACK_URI='https://setupngrokfirst.ngrok-free.app/oauth2/callback' 